node_modules/
*.zip

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

infrastructure/data/himachal/terrain/raw/
infrastructure/data/himachal/terrain/**/*.tif
infrastructure/data/himachal/terrain/**/*.vrt
